body {
  background-color: #000;
  color: #39ff14;
  font-family: 'Courier New', Courier, monospace;
}

.text-neon {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14, 0 0 20px #00ff00;
}

.btn-neon {
  background-color: transparent;
  border: 1px solid #39ff14;
  color: #39ff14;
  transition: 0.3s;
}

.btn-neon:hover {
  background-color: #39ff14;
  color: #000;
  box-shadow: 0 0 10px #39ff14, 0 0 20px #00ff00;
}

.neon-input {
  background-color: #111;
  color: #39ff14;
  border: 1px solid #39ff14;
  box-shadow: 0 0 5px #39ff14;
}

.neon-card {
  background-color: #111;
  border: 1px solid #39ff14;
  color: #39ff14;
  padding: 1rem 1.5rem;
  width: 320px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px #39ff14, 0 0 20px #00ff00;
  text-align: left;
  font-family: 'Courier New', monospace;

  /* 📌 موقعیت ثابت پایین–چپ */
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
}


footer {
  padding: 1rem;
  color: #39ff14;
  text-shadow: 0 0 5px #39ff14;
}
.neon-card-info 
{
  background-color: #111;
  border: 1px solid #39ff14;
  color: #39ff14;
  padding: 1rem 1.5rem;
  width: 320px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px #39ff14, 0 0 20px #00ff00;
  text-align: left;
  font-family: 'Courier New', monospace;

  /* 📌 موقعیت ثابت پایین–چپ */
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
}